@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400..600&display=swap');

body {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #1a1818;
  color: hsl(43, 100%, 91%);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

td {
  color: #f7f7f7;
}

a {
  color: #2df0c6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.txt-center {
  text-align: center;
}